<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST"></form>
    <table>
        <tr>
            <td>fristname</td>
            <td><input type="text" name="fname"></td>
            
        </tr>
        <tr>
            <td>lastname</td>
            <td><input type="text" name="lname"></td>
        </tr>
        <tr>
            <td>email</td>
            <td><input type="email" name="emali"></td>
        </tr>
        <tr>
            <td><input type="submit" name="submit"></td>
        </tr>
    </table>
    
</body>
</html>